<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <section class="reviews">
        <h1 class="heading">Tentang Kami</h1>
    
        <div class="box-container">
          <div class="box">
            <div class="student">
              <img
                src="https://img.freepik.com/free-photo/lifestyle-people-emotions-casual-concept-confident-nice-smiling-asian-woman-cross-arms-chest-confident-ready-help-listening-coworkers-taking-part-conversation_1258-59335.jpg?size=626&ext=jpg&uid=R118614792&ga=GA1.1.791807358.1696633673&semt=sph"
                alt="" />
              <div>
                <h3>Name</h3>
              </div>
            </div>
          </div>
    
          <div class="box">
            <div class="student">
              <img
                src="https://img.freepik.com/free-photo/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-man-freelancer_273609-16320.jpg?size=626&ext=jpg&uid=R118614792&ga=GA1.1.791807358.1696633673&semt=sph alt="" />
                <div>
                  <h3>Name</h3>
          </div>
        </div>
        </div>

        <div class="box">
            <div class="student">
              <img
                src="https://img.freepik.com/free-photo/portrait-handsome-young-man-with-crossed-arms_176420-15569.jpg?size=626&ext=jpg&uid=R118614792&ga=GA1.1.791807358.1696633673&semt=sph.jpg"
                alt="" />
              <div>
                <h3>Name</h3>
              </div>
            </div>
          </div>

          <div class="box">
            <div class="student">
              <img
                src="https://img.freepik.com/free-photo/portrait-young-asia-lady-with-positive-expression-arms-crossed-smile-broadly-dressed-casual-clothing-looking-camera-pink-background_7861-3201.jpg?size=626&ext=jpg&uid=R118614792&ga=GA1.1.791807358.1696633673&semt=sph"
                alt="" />
              <div>
                <h3>Name</h3>
              </div>
            </div>
          </div>

          <div class="box">
            <div class="student">
              <img
                src="https://img.freepik.com/free-photo/portrait-young-handsome-smiling-businessman-holding-laptop-hands-typing-browsing-web-pages-isolated-white-background_1150-63247.jpg?size=626&ext=jpg&uid=R118614792&ga=GA1.1.791807358.1696633673&semt=sph"
                alt="" />
              <div>
                <h3>Name</h3>
              </div>
            </div>
          </div>
</body>
</html>