<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.png">
    <link rel="manifest" href="./app.webmanifest">
    <title>AirWatchID</title>
    <style>

    </style>
</head>

<body>
    <a href="#main-content" class="skip-link">Menuju ke Konten</a>
    <header>
        <app-bar></app-bar>
    </header>
    <main id="main-content">
    </main>

    <footer>
        <app-footer></app-footer>
    </footer>

</body>

</html>