@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Root */

:root {
  --good: #38d020;
  --moderate: #E7BE27;
  --unhealthy-groups: #F28330;
  --unhealthy: #E9474A;
  --very-unhealthy: #923BC5;
  --hazardous: #7B2D51;

  --good-dark: #2e8121;
  --moderate-dark: #bd970b;
  --unhealthy-groups-dark: #c76215;
  --unhealthy-dark: #c01619;
  --very-unhealthy-dark: #6e1c9e;
  --hazardous-dark: #551633;
}

/*     */

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  /* min-width: 100vh; */
}

a,
button,
input,
textarea {
  min-height: 44px;
  min-width: 44px;
}

.skip-link {
  position: absolute;
  top: -60px;
  left: 0;
  padding: 8px;
  background-color: #bf1722;
  color: white;
  z-index: 100;
}

.skip-nav:focus {
  z-index: 95;
  opacity: 100%;
  pointer-events: all;
}

header {
  display: flex;
  width: 100%;
  height: min-content;
  align-items: center;
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.25);
}

main {
  min-height: 100vh;
}



/* Main Page */



/* About Page */



/* Maps Page */

#map {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

#map a{
  min-width: 0;
  min-height: 0;
}

.leaflet-control-attribution {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-info {
    width: fit-content;
    z-index: 500;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    color: white;
    padding: 1rem 2rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.25rem;
    font-size: clamp(.5rem, .75vw, 800px);
}

.index-info .dot {
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    margin-right: .25rem;
}

.leaflet-popup-close-button {
  min-width: 0;
  min-height: 0;
}

.popup .container p {
    margin: 0;
}

.indexOnMap {
    display: flex;
    justify-content: center;
    align-items: center;
}

#indexOnMapContainer {
    width: 45%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: .75rem;
}

.good {
    background-color: var(--good);
    border: 2px solid var(--good-dark);
}

.moderate {
    background-color: var(--moderate);
    border: 2px solid var(--moderate-dark);
}

.unhealthy-groups {
    background-color: var(--unhealthy-groups);
    border: 2px solid var(--unhealthy-groups-dark);
}

.unhealthy {
    background-color: var(--unhealthy);
    border: 2px solid var(--unhealthy-dark);
}

.very-unhealthy {
    background-color: var(--very-unhealthy);
    border: 2px solid var(--very-unhealthy-dark);
}

.hazardous {
    background-color: var(--hazardous);
    border: 2px solid var(--hazardous-dark);
}

.index-nan {
    background-color: lightgray;
}



/* Detail Page */
#detailContainer {
  margin: 1rem;
}

.chart {
  width: 300px;
}



/* Blogs Page */



/* Footer */
footer {
  /* background-color: rgba(101, 102, 192, 0.5); */
  background-color: rgba(84, 201, 239, 0.5);
  width: 100%;
  padding: 1rem;
  align-self: end;
}