@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Root */

:root {
  --primary: #54c9ef;
  --secondary: #6566c0;

  --good: #38d020;
  --moderate: #e7be27;
  --unhealthy-groups: #f28330;
  --unhealthy: #e9474a;
  --very-unhealthy: #923bc5;
  --hazardous: #7b2d51;

  --good-dark: #2e8121;
  --moderate-dark: #bd970b;
  --unhealthy-groups-dark: #c76215;
  --unhealthy-dark: #c01619;
  --very-unhealthy-dark: #6e1c9e;
  --hazardous-dark: #551633;

  --good-50: #38d0207b;
  --unhealthy-50: #e9474a82;

  --good-bg-img: url(../public/images/landscapes/good.jpg);
  --moderate-bg-img: url(../public/images/landscapes/moderate.png);
  --unhealthy-groups-bg-img: url(../public/images/landscapes/unhealthy-groups.jpg);
  --unhealthy-bg-img: url(../public/images/landscapes/unhealthy.jpg);
  --very-unhealthy-bg-img: url(../public/images/landscapes/very-unhealthy.jpg);
  --hazardous-bg-img: url(../public/images/landscapes/hazardous.jpg);
}

/*     */

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5 {
  line-height: 125%;
  margin-bottom: .25rem;
}

a,
button,
input,
textarea {
  min-height: 44px;
  min-width: 44px;
  display: inline-block;
}

.skip-link {
  position: absolute;
  top: -60px;
  left: 0;
  padding: 8px;
  background-color: #bf1722;
  color: white;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

header {
  display: flex;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}

main {
  min-height: min-content;
}

/* Hero */
.hero {
  background-color: var(--primary);
  display: flex;
  flex-wrap: nowrap;
  padding: 3em;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero p {
  color: #412e8a;
  padding-right: 7vw;
  font-size: larger;
}

.hero h2 {
  font-size: clamp(52px, 5vw, 100px);
  color: white;
  margin-bottom: -.5rem;
}

.hero .image-hero img {
  max-width: 350px;
}

/* Main Page */

.main {
  width: 100%;
}

.next-btn {
  width: fit-content;
  background: linear-gradient(45deg, rgba(101, 102, 192, 1), rgba(56, 57, 149, 1));
  color: white;
  font-size: clamp(16px, 1.25vw, 800px);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 3rem;
  border-radius: 100px;
  margin-top: 2rem;
}

.next-btn:hover,
.maps-btn:hover {
  scale: 105%;
}

.main .section-title {
  font-size: 32px;
  margin: 1em 1em 0;
  text-align: center;
}

.main .hero p:nth-child(3) {
  font-style: normal;
  color: white;
  font-size: smaller;
}

.main .summary,
.main .summary-section,
.main .rank-section,
.main .summary-side {
  margin: auto;
  display: grid;
  gap: 2em;
}

.main .summary {
  grid-template-rows: repeat(2, auto);
  max-width: 1200px;
  padding: 20px;
  margin: 3em auto;
}

.summary-section {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.summary-side {
  height: 100%;
  grid-template-rows: 1fr 2fr;
  gap: 1em;
}

.map-section {
  border-radius: 10px;
  width: 100%;
}

.rank-section {
  grid-template-columns: repeat(2, 1fr);
}

.city-detail-link {
  color: black;
}

.city-detail-link:hover,
.city-detail-link:active {
  color: rgb(0, 140, 255);
}

.map-section {
  overflow: hidden;
  position: relative;
  height: 100%;
  background-color: #000;
  display: flex;
}

.map-section__image {
  opacity: 0.5;
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.map-section__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inner {
  text-align: center;
  margin: auto;
  z-index: 2;
}

.inner p {
  font-weight: 600;
  color: white;
  margin-bottom: .5rem;
}

.inner a {
  background-color: var(--secondary);
  color: white;
  border-radius: 10px;
  padding: 0.7em;
}

.rank-section h2 {
  text-align: center;
  margin: 20px 0;
}

.topAqi-section, .bottomAqi-section {
  padding: 1rem;
  border-radius: 20px;
}

.topAqi-section h2, .bottomAqi-section h2{
  color: white;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
}

.topAqi-section h2 {
  background-color: var(--unhealthy);
}

.bottomAqi-section h2 {
  background-color: var(--good);
}

.rank-section table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.rank-section th,
.rank-section td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.rank-section th {
  background-color: #f2f2f2;
}

.rank-section tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.rank-section span.aqi-value {
  font-weight: bold;
}

.summary-side .fun-fact {
  padding: 1.5em;
  background-color: var(--primary);
  border-radius: 10px;
  height: 100%;
}

.summary-side .fun-fact .section-title {
  color: white;
  margin: 0.5em auto;
}

.summary-side .fun-fact .card-contain {
  display: flex;
  height: 300px;
}

.mySwiper {
  max-width: 300px;
  height: 100%;
}

.swiper-wrapper {
  height: 100%;
}

.summary-side .fun-fact .card {
  padding: 16px;
  background-color: white;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  height: 100%;
}

.summary-side .fun-fact .card .card-header p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 24px;
  text-align: center;
}

.summary-side .fun-fact .card .card-body {
  text-align: justify;
  display: flex;
  flex: 1 1 auto;
}

.summary-side .fun-fact .card .card-body .line {
  border-left: 4px solid var(--secondary);
  padding-right: 16px;
  margin-bottom: 41px;
  margin-top: 6px;
}

.summary-side .fun-fact .card .card-body p {
  font-size: 14px;
  margin-bottom: 36px;
  line-height: 1.43;
}
.summary-side .fun-fact .card .card-body span {
  font-size: 28px;
  font-weight: 500;
  color: var(--secondary);
  display: block;
  line-height: 1.5;
  margin-bottom: 2px;
}

.main .fun-fact__footer p {
  margin-top: 2em;
  text-align: center;
  color: white;
}

.main .fun-fact__footer p a {
  color: white;
}

.main .articles {
  margin-bottom: 3em;
}

.main .main-recommended-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 3em;
  place-items: center;
  gap: 1rem;
}

.main-recommended-articles .blog-card {
  width: 100%;
}

.main .fitur {
  padding: 5rem 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.main .fitur h1 {
  text-align: center;
}

.main .fitur .card-contain {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  height: 100%;
}

.main .fitur .card {
  width: 390px;
  border-radius: 20px;
  padding: 1.5rem;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 5fr 1.5fr;
}

.main .fitur .card .card-header {
  text-align: center;
  display: grid;
  grid-template-rows: 2fr 7fr;
  place-items: center;
}

.main .fitur .card .card-header h1 {
  font-size: clamp(24px, 1.5vw, 800px);
  color: #6566c0;
  font-weight: 700;
}

.main .fitur .card img {
  width: 225px;
  height: 192px;
  object-fit: cover;
  margin-bottom: 10px;
}

.main .fitur .card .card-body p{
  font-size: 16px;
}

/* About Page */
.reviews {
  padding-bottom: 5rem;
}

.reviews .heading {
  padding: 5rem 7% 1.4rem;
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #0a0535;
}

.reviews .box-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.reviews .box {
  width: 100%;
  height: 400px;
  justify-content: space-around;
  border: 3px solid rgb(238, 238, 238);
}

.reviews .box-container .box {
  border-radius: 0.5rem;
  background-color: var(--white);
  padding: 2rem;
}

.reviews .box-container .box .student {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--black);
  font-size: clamp(17px, 1vw, 15px);
  max-width: 100%;
}

.student .details {
  display: flex;
  flex-direction: column;
}

.reviews .box-container .box .student img {
  height: 7rem;
  width: 7rem;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  outline: 5px solid rgb(0, 140, 255);
}

.reviews .box-container .box .student h3 {
  text-align: center;
  line-height: 100%;
}

.reviews .box-container .box .student .role {
  text-align: center;
  max-width: 90%;
  align-self: center;
  font-size: 12px;
  font-style: italic;
  margin: .5rem 0;
  color: rgb(123, 123, 123);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, rgb(233, 233, 233), white, rgb(225, 225, 225));
}

.logo-ref-team {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 1rem;
}

.logo-ref-team a {
  background-color: #1877f2;
  aspect-ratio: 1/1;
  display: flex;
  width: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.fa-brands {
  font-size: 32px;
  color: white;
  border-radius: 50%;
  margin: 10px 15px; /* Atur jarak antar logo */
}

/* Maps Page */

#map {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

#map a {
  min-width: 0;
  min-height: 0;
}

.leaflet-control-attribution {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-info {
  width: fit-content;
  z-index: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  color: white;
  padding: 1rem 2rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.25rem;
  font-size: clamp(0.5rem, 0.75vw, 800px);
}

.index-info .dot {
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  margin-right: 0.25rem;
}

.leaflet-popup-close-button {
  min-width: 0;
  min-height: 0;
}

.popup .container p {
  margin: 0;
}

.indexOnMap {
  display: flex;
  justify-content: center;
  align-items: center;
}

#indexOnMapContainer {
  width: 45%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
}

.good {
  background-color: var(--good);
  border: 2px solid var(--good-dark);
}

.moderate {
  background-color: var(--moderate);
  border: 2px solid var(--moderate-dark);
}

.unhealthy-groups {
  background-color: var(--unhealthy-groups);
  border: 2px solid var(--unhealthy-groups-dark);
}

.unhealthy {
  background-color: var(--unhealthy);
  border: 2px solid var(--unhealthy-dark);
}

.very-unhealthy {
  background-color: var(--very-unhealthy);
  border: 2px solid var(--very-unhealthy-dark);
}

.hazardous {
  background-color: var(--hazardous);
  border: 2px solid var(--hazardous-dark);
}

.index-nan {
  background-color: lightgray;
}

.leaflet-popup-content-wrapper {
  height: fit-content;
  display: flex;
}

.leaflet-popup-content {
  height: fit-content;
  display: flex;
}

.leaflet-popup-content a {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-color-bg {
  background-color: lightgray;
  color: white;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.aqi-container h1 {
  min-width: 59px;
  margin: 0;
  aspect-ratio: 1/1;
  margin: 0.25rem 0;
  padding: 0.35rem;
  border-radius: 50%;
  border: 4px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  width: 100%;
}

.popup .detail {
  box-sizing: border-box;
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
  backdrop-filter: blur(20px);
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 5px;
}

.good-url {
  background: var(--good-bg-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.moderate-url {
  background: var(--moderate-bg-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.unhealthy-groups-url {
  background: var(--unhealthy-groups-bg-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.unhealthy-url {
  background: var(--unhealthy-bg-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.very-unhealthy-url {
  background: var(--very-unhealthy-bg-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hazardous-url {
  background: var(--hazardous-bg-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.to-detail-page {
  width: 100%;
  background-color: var(--secondary);
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 0.5rem;
  text-decoration: none;
  text-align: center;
}

.to-detail-page span {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-detail-page span i {
  margin-left: 0.25rem;
}

/* Detail Page */
#detailContainer,
.detail-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#detailContainer {
  padding: 1rem 10rem;
  gap: 3rem;
}

.detail-content-container {
  gap: 1rem;
}

.aqi-label {
  background-color: rgba(0, 0, 0, 0.35);
  padding: 0.5rem 2rem;
  border-radius: 5px;
  backdrop-filter: blur(20px);
}

.detail-content,
.summary-content {
  width: 100%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 1rem;
}

.summary-content {
  height: 100%;
}

.shadow {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.075);
}

.aqi-detail-container {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
}

.aqi-index-detail h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aqi-detail-container h1 {
  line-height: 100%;
  margin-bottom: 0.5rem;
}

.aqi-index-detail {
  width: max-content;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: clamp(40px, 4vw, 800px);
  color: white;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(20px);
  border-radius: 50%;
  border: 10px solid white;
  margin: 1rem 3rem 3rem;
  padding: 1rem;
  aspect-ratio: 1/1;
}

.current-aqi-info {
  background-color: rgba(0, 225, 255, 0.15);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.current-aqi-info p {
  font-size: clamp(14px, 1vw, 800px);
}

.charts {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.aqi-chart-card {
  width: 100%;
  height: 50vw;
  max-height: 350px;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.attributions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.data-source {
  background-color: var(--secondary);
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
}

.data-source,
.data-source a {
  color: white;
  font-size: 12px;
}

.data-source a {
  min-height: 0;
  font-weight: bold;
}

.detail-recommended-articles {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem 0;
}

.detail-recommended-articles h2 {
  text-align: center;
}

.detail-recommended-articles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-recommended-articles .blog-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.detail-recommended-articles .blog-card img {
  width: 100%;
  min-height: 100%;
}

.detail-recommended-articles .blog-card .text {
  grid-template-rows: 5fr 1fr;
}

/* Blogs Page */
.blog-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.blog-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 10px;
}

.blog-card img {
  width: 100%;
  height: 200px;
  min-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.blog-card .text {
  width: 100%;
  display: grid;
  grid-template-rows: 7fr 1fr;
}

.blog-card .title {
  font-size: 20px;
}

.blog-card .overview {
  display: grid;
  grid-template-rows: auto auto;
  gap: 0.5rem;
  font-size: 14px;
  text-align: justify;
}

.blog-card a {
  width: 100%;
  background-color: var(--secondary);
  color: white;
  font-weight: bold;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 0.5rem;
}

/* Blog Article Page */
.blog-article {
  width: 100%;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 75fr 25fr;
  gap: 3rem;
}

.article-content,
.article-content article {
  display: flex;
  flex-direction: column;
}

.article-content h1 {
  font-size: clamp(24px, 2.5vw, 800px);
  line-height: 120%;
}

.article-content p::first-letter {
  margin-left: 1em;
}

.article-content p {
  text-align: justify;
}

.article-content img {
  object-fit: cover;
  min-height: 450px;
}

.blog-article .recommended-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: fit-content;
  border-radius: 10px;
}

.recommended-articles-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.blog-article .recommended-articles .blog-card {
  width: 100%;
  flex-direction: column;
}

.blog-article .recommended-articles .blog-card img {
  max-width: 100%;
  min-height: 200px;
  height: 200px;
  object-fit: cover;
}

.blog-article .recommended-articles .text {
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.blog-article .recommended-articles .blog-card .title {
  font-size: 14px;
}

.blog-article .recommended-articles .blog-card .overview,
.blog-article .recommended-articles .blog-card .overview a {
  font-size: 12px;
}

.recommended-articles .blog-card a {
  font-size: 14px;
}

.share-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  margin: 1rem 0;
  width: 100%;
}

.share-link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  aspect-ratio: 1/1;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.share-link-button i {
  font-size: 24px;
  color: white;
}

.copy-to-clipboard {
  background-color: #1f1f1f;
}

.whatsapp {
  background-color: #25d366;
}

.facebook {
  background-color: #1877f2;
}

.x-twitter {
  background-color: #1f1f1f;
}

.image-source {
  width: 100%;
  display: flex;
  color: rgb(162, 162, 162);
  margin: 0.5rem 0 1rem;
  font-size: clamp(10px, 1vw, 800px);
  text-align: center;
  align-self: center;
  word-wrap: break-word;
  word-break: break-all;
}

.divider {
  border-top: 3px solid rgb(233, 233, 233);
  width: 100%;
  margin: 2.5rem 0;
}

/* Error Page */
.error-page {
  width: 100%;
  padding: 2em;
  text-align: center;
}

.error-page__info {
  line-height: 2;
}

.error-page__info h1 {
  color: var(--primary);
  font-size: xxx-large;
}

.error-page__hero img {
  max-width: 60%;
}

/* Footer */
footer {
  background-color: var(--primary);
  width: 100%;
  padding: 1rem;
  align-self: end;
}

/* Lainnya */
#customAlert {
  width: max-content;
  position: fixed;
  padding: .5rem 2rem;
  top: -100px;
  right: 50%;
  opacity: 0%;
  transform: translateX(50%);
  background-color: gray;
  color: white;
  text-align: center;
  border-radius: 50px;
  transition: 0.3s;
  z-index: 999;
  font-size: clamp(14px, 1vw, 800px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#customAlert i {
  margin-right: .35rem;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 100%;
  pointer-events: all;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1999;
}

#loader.hidden {
  opacity: 0%;
  pointer-events: none;
  transition: 0.3s;
}