@media (max-width: 1200px) {
  .reviews .box-container {
    margin: 0 auto;
  }

  .reviews .box-container .box .student h4 {
    font-size: 15px;
    padding-bottom: 1vh;
    order: 1;
  }
}

@media (max-width: 1100px) {
  .app-bar__navigation {
    z-index: 1000;
  }

  #indexOnMapContainer {
    width: 35%;
    font-size: 0.5rem;
  }

  .map-info {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: 10px;
    right: 15px;
    width: 145px;
    padding: 1rem;
    left: auto;
    transform: translateX(0%);
    bottom: 30px;
  }

  .index-info {
    font-size: 0.75rem;
    margin: 0 0 0.75rem;
  }

  .index-info .dot {
    min-width: 10px;
    min-height: 10px;
  }
}

@media (max-width: 1020px) {
  #detailContainer {
    padding: 1rem 3rem;
  }

  .aqi-chart-card {
    width: 100%;
    height: 50vw;
  }
}

@media (max-width: 1000px) {
  .blog-article {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .article-content,
  .blog-article .recommended-articles {
    width: 100%;
  }

  .recommended-articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  .hero .image-hero img {
    max-width: 250px;
}
}

@media (max-width: 813px) {
  .reviews .box-container {
    grid-template-columns: 1fr 1fr;
  }
  .data-source {
    width: 100%;
  }

  #detailContainer {
    padding: 1rem;
  }

  .topAqi-section,
  .bottomAqi-section {
    padding: 1em;
  }

  .main .fun-fact .card-contain {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .charts {
    flex-direction: column;
  }
  .aqi-chart-card {
    width: 100%;
    height: fit-content;
    justify-content: start;
  }

  .recommended-articles-container {
    grid-template-columns: 1fr;
  }

  .article-content img {
    min-height: 150px;
  }

  .detail-recommended-articles .blog-card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .detail-recommended-articles .blog-card .text {
    grid-template-rows: 3fr 1fr;
  }

  .summary-section {
    grid-template-columns: none;
  }
}

@media (max-width: 660px) {
  .main .hero {
    flex-wrap: wrap-reverse;
    text-align: center;
  }

  .main .section-title {
    font-size: 32px;
  }

  .main .hero .content-hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
  .main .hero .content-hero p:nth-child(1) {
    order: 2;
    font-size: 16px;
    padding-right: 0vw;
  }
  .main .hero .content-hero h2 {
    font-size: 40px;
    padding-bottom: 1vh;
    order: 1;
  }

  .main .hero p:nth-child(3) {
    font-size: large;
    order: 3;
    padding-right: 0vw;
  }

  .main .hero img {
    height: 43vh;
  }

  .rank-section {
    grid-template-columns: none;
  }

  .blog-card {
    width: 100%;
  }

  .blog-card .text {
    grid-template-rows: 4fr 1fr;
  }
}

@media (max-width: 540px) {
  .reviews .box-container {
    grid-template-columns: 1fr;
  }

  .main .fun-fact .card-contain {
    grid-template-columns: repeat(1, 1fr);
  }

  .main .articles {
    margin: 20px;
  }
}

@media (max-width: 500px) {
  .main .fitur {
    padding: 10vh 3vw 0vh;
  }
  .main .fitur h1 {
    font-size: 3em;
    margin-bottom: 5vh;
  }
  .main .fitur .card-contain {
    height: 220vh;
  }
  .main .fitur .card {
    height: auto;
    margin-bottom: 5vh;
  }

  .main .use h1 {
    font-size: 36px;
    margin-bottom: 5vh;
    margin-top: auto;
  }

  .main .use .btn-container {
    height: 80vh;
  }

  .error-page {
    flex-flow: column-reverse;
  }

  .blog-card .text {
    width: 100%;
    grid-template-rows: 7fr 1fr;
  }

  .detail-recommended-articles .blog-card .text {
    grid-template-rows: 5fr 1fr;
  }

  .summary-card {
    grid-template-columns: none;
  }
}
